<h1>Edit {{issue.name}}</h1>

<form action="/issue/{{issue._id}}?_method=PUT", method="POST">
    <input type="text" name="name" value="{{issue.name}}"/>
    <input type="text" name="status" value="{{issue.status}}"/>
    <input type="text" name="priority" value="{{issue.priority}}"/>
    <input type="submit" value="Update Issue"/>
</form>